<%# <%# <!-- %>
<div class="container">
  <div class="parent1">
    <div class="container event-container">
      <div class="col">
        <h1 class="h2 m-4 d-flex justify-content-center">We got you this amazing Day Out: </h1>
      </div>
      <div class="flex-container justify-content-center" id="event" >
        <% @events.each do |event| %>
          <%= render "event_infos", event: event %>
        <% end %>
      </div>
  </div>
</div>
-->
<div class="flex-container" id="event" >     <% @events.each do |event| %>     <%= render "event_infos", event: event %>    <% end %> </div>
