<div class="container">
  <div class="parent1">
    <div class="container event-container"  data-controller="sortable">
      <div class="col">
        <h1 class="h2 m-4 d-flex justify-content-center content5">We got you this amazing Day Out: </h1>
      </div>
      <div class="flex-container justify-content-center" id="event" data-target="sortable.list">
        <% @itinerary.events.each do |event| %>
          <%= render "event_infos", event: event, itinerary: @itinerary %>
        <% end %>
      </div>
    </div>
  </div>
</div>
