<div class="container" data-controller="edit-event">
  <div class="parent1">
    <div class="container event-container">
      <div class="col">
        <h3 class="h2 m-4 d-flex justify-content-center content5"><%= @confirmed == "true" ? "Itinerary Confirmed" : "Customise your Itinerary"%></h3>
      </div>
      <div class="flex-container justify-content-center" <% if @confirmed!="true" %>data-controller="sortable"<%end%> id="event" data-target-id="<%= @itinerary.id %>" >
        <% @events.each do |event| %>
          <%= render "events/event_infos", event: event, itinerary: @itinerary, confirmed:@confirmed %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @confirmed!="true"%>
    <%= button_to 'Confirm Itinerary', confirm_path(@itinerary), method: :get, class: 'btn btn-pink border2' %>
  <% end %>


<div class="d-none" data-edit-event-target="formdiv">
<form id="edit-form" style="display:none;" >
<button class= " btn btn-pink border1" style="float: right";>
          <i class="fa-solid fa-xmark" data-action="click->edit-event#hideForm"></i>
        </button>
  <label for="edit-title">Title:</label>
  <input type="text" id="edit-title">
  <label for="edit-details">Details:</label>
  <textarea id="edit-details"></textarea>
  <input type="hidden" id="edit-id">
  <button type="submit">Save</button>
</form>
</div>
</div>
