// Define variables for your color scheme

// For example:
$color1: #E9E3D5;
$color2: #033043;
$color3: #0A7273;
$color4: #FDA521;
$color5: #e1ff00;
// $color6: #00fffb;
// $color7: #00ff15;


.colorX {
  color: $color3 !important;
}

// .colorX:hover {
//   color: $color4 !important;
// }

colorRed {
  color: red !important;
}
