.home {
  @extend .parent2;
  @extend .content1;
  @extend .spacing1;
}

.banner {
  background-image: url("https://www.theplanner.co.uk/sites/default/files/images/features-tech-landscape-taming-the-wind---web-p33-london-0z7a3340-2.png");
  background-size: 100% auto;
  height: 60vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-content {
  position: absolute;
  left: 50%;
  top: 22%; /* adjust this value to your desired percentage */
  transform: translate(-50%, -50%);
}
