<div class="navbar-container p-2">
  <div style="padding-left: 5px; padding-right: 6px;">
    <%= link_to root_url do %>
      <%= image_tag "https://res.cloudinary.com/danwlbu2c/image/upload/v1679646229/production/map_gd5fxn.svg", :class => "avatar-large" %>
    <% end %>
  </div>

  <%= link_to root_url do %>
    <h1 class="content3"><%= "My Day Out" %></h1>
  <% end %>


</div>
