
<div class="mt-2">
  <%= video_tag "https://res.cloudinary.com/danwlbu2c/video/upload/v1678829745/Untitled_Project-Untitled_MPEG-4_jmg8jg.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, id: "background-video" %>
  <h2 class="content5 p-3">Plan an amazing Day Out</h2>
  <p class="content1">Just tell us when, where and what do you like to do, we'll do the rest!</p>
  <div class="col-12">
    <%= render "form_new_dayout", itinerary: @itinerary%>
  </div>
</div>
