
<div class="m-5">
  <video src="https://res.cloudinary.com/danwlbu2c/video/upload/v1679131530/Untitled_Project_1_gdlntk.mov" autoplay loop muted playsinline id="background-video"></video>
  <div class="fix-navbar d-flex flex-column justify-content-center">
    <div class="">
      <h3 class="content1">Step outside and let your day out be a journey to remember</h3>
      <%= render "form_new_dayout", itinerary: @itinerary%>
    </div>
  </div>
    <%= render "shared/footer" %>
</div>
