<div class="navbarhome">
  <%= render "shared/navbar" %>
</div>

<div class="m-5">
  <video src="https://res.cloudinary.com/danwlbu2c/video/upload/v1679131530/Untitled_Project_1_gdlntk.mov" autoplay loop muted playsinline id="background-video"></video>
  <div class="d-flex flex-column justify-content-center">
    <%= render "form_new_dayout", itinerary: @itinerary%>
  </div>

  <div class="footerhome">
    <%= render "shared/footer" %>
  </div>
</div>
