<div class="d-flex flex-column align-itens-center">
  <div class="shared-itinerary-container d-flex flex-column justify-content-center">
    <div class="content5 mb-4">
      <h3> Itinerary Confirmed </h3>
    </div>
    <div class="container justify-content-center">
      <% @events.each do |event| %>
        <%= render "events/event_infos", event: event, itinerary: @itinerary %>
      <% end %>
    </div>
  </div>
</div>
