
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.category-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
}
.category-item {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 50%;
  padding-bottom: 7.5px;
}
.category-selector {
  position: absolute;
  transform: scale(0);
  opacity: 1;
}
.category-selector + label {
  cursor: pointer;
  max-height: 80%;
  margin: 3px;
  width: 70%;
  font-size: 18px;
  text-align: center;
  padding: 8px;
  border-radius: 3px;
  // border: 1px solid $color1;
  background-color: $color3;
  color: $color1

}

.category-selector:hover + label {
  box-shadow: inset 0 0 0 3px $color1;
  }

.category-selector:checked + label {
color: $color1;
background-color: $color4;
box-shadow: inset 0 0 0 3px $color1;
}

.btn-pink {
  display: flex;
  justify-content: center;
  background-color: $color1;
  color: $color3;
  width: 100%;
}
.inputs {
  margin-right: 5px;
}
.inputs:last-child {
  // margin-right: 0 !important;
}

.datetimecolor {
  background-color: none !important;
  background-color: $color3 !important;
}

.addstopcolor {
  background-color: $color3 !important;
  border-color: $color1 !important;
}

legend {
  display: none;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.input-container {
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-container label {
  display: none;
}

.slider{
  margin-bottom: 0;
}

.myborders {
  border-radius: 5px;
  border: none;
}

.pound {
  color: $color4;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.sliderpadding {
  padding-left: 25px;
  padding-right: 25px;
}

#hundredwidth {
  width: 300px;
  margin-top: 30px;
}

.hundredwidthclass {
  width: 300px !important;
  margin-top: 30px;
}

#toproundborders {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-color: transparent !important;
}

#bottomroundborders {
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  border-color: transparent !important;
}

#transparent {
  // background-color: $color3 !important;
  // border-color: unset !important;
  --bs-card-border-color: transparent !important;
}

.cardborder {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19) !important;
  border-radius: 15px !important;
}

.customrightspacing {
  margin-right: 0 !important;
  padding-right: 0 !important;
}
