
.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.category-item {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3px;
  flex: 0 0 50%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-right: 5px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 12px 10px 10px 12px;
  border: 1px outset $color1;
  border-radius: 5px;
  background-color: transparent;
}

.category-selector:checked + label {
  color: $color4;
  border: 1px $color4 solid;
  background-color: transparent;
}

.btn-pink{
  display: flex;
  justify-content: center;
  background-color: $color4;
  color: $color1;
  width: 90%;
}

.inputs {
  margin-right: 5px;
}

.dining-input {
  width: 230px;
  margin-top: 75px;
}

.input-tag-off{
  color: transparent;
}

.slider{
  display: flex;
  justify-content: left;
  width: 100%;
}
