
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.category-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.category-item {
  // display: flex;
  // justify-content: flex-end;
  flex: 0 0 50%;
}
.category-selector {
  position: absolute;
  transform: scale(0);
  opacity: 1;
}
.category-selector + label {
  cursor: pointer;
  max-height: 100%;
  margin: 2px;
  width: 70%;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid $color1;
  background-color: $color1;
}
.category-selector:checked + label {
color: $color3;
border: 1px $color3 solid;
background-color: $color4;
}
.btn-pink {
  display: flex;
  justify-content: center;
  background-color: $color4;
  color: $color1;
  width: 100%;
}
.inputs {
  margin-right: 5px;
}
.inputs:last-child {
  margin-right: 0;
}

legend {
  display: none;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.input-container {
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-container label {
  display: none;
}

slider{
  margin-bottom: 0;
}
