.navbarhome {
  // opacity: 0.5;
  // position: absolute;
  position: sticky;
  top: 0;
  width: 100%;
  background: transparent;
  box-shadow: none;
  z-index: 100;
}

.navbarshow {
  // opacity: 0.5;
  // position: absolute;
  position: sticky;
  top: 0;
  width: 100%;
  background: $color3;
  box-shadow: none;
  z-index: 100;
}

.nav-link{
  color: $color1;
  font-size: 16px;
  font-weight: $jost-font-weight-normal;
  text-decoration: none;
  padding: 0 10px;
  margin: 3px;
  transition: all 0.3s ease;
  &:hover{
    color: $color4;
  }
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.fix-navbar{
  height: 85vh;
  // margin-top: 120px;
}

.logo{
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 10px;

}
