// .navbar {
//   justify-content: space-between;
//   // opacity: 0.5;
// }

.navbar {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  // .navbar-wagon-link {
  //   color: white;
  //   font-weight: bold;
  // }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}
