// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/airbnb";

// Your CSS partials
@import "base_classes/index";
@import "components/index";
@import "pages/index";


.global-style {
  font-family: $jost-font;
  font-weight: $jost-font-weight-normal;
  color: $color1;
  background-color: $color2;
}
