// background color, font, font color, font size, font weight

.content1 {
  font-family: $jost-font;
  font-weight: $jost-font-weight-normal;
  font-size: 24px;
  line-height: 1.5;
  color: $color3;
  text-align: center;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.content2 {
  @extend .content1;
  font-weight: $jost-font-weight-light;
}

.content3 {
  font-family: $pacifico-font;
  font-size: 38px;
  text-shadow: 1px 1px rgb(44, 44, 44);
  line-height: 1.8;
  color: $color4;
  letter-spacing: 0.05em;
  padding-top: 5px;
}

.content4 {
  font-family: $pacifico-font;
  font-size: 18px;
  line-height: 1.5;
  color: $color1;
  background: linear-gradient(to bottom, $color3, $color4);
}

.content5{
  @extend .content1;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: $color1;
  font-size: 28px;
}

.content6 {
  font-family: $pacifico-font;
  font-size: 38px;
  text-shadow: 1px 1px rgb(44, 44, 44);
  line-height: 1.8;
  color: $color4!important;
  letter-spacing: 0.05em;
  padding-top: 5px;
}
