// background color, font, font color, font size, font weight

.content1 {
  font-family: $jost-font;
  font-weight: $jost-font-weight-normal;
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 1.5;
  color: white;
  margin-bottom: 0;
  text-shadow: 4px 4px black;
}

.content2 {
  @extend .content1;
  font-weight: $jost-font-weight-light;
}

.content3 {
  font-family: $pacifico-font;
  font-size: 40px;
  text-shadow: 1px 1px rgb(44, 44, 44);
  line-height: 2;
  color: $color4;
  letter-spacing: 0.05em;
}

.content4 {
  font-family: $pacifico-font;
  font-size: 18px;
  line-height: 1.5;
  color: $color1;
  background: linear-gradient(to bottom, $color3, $color4);
}

.content5{
  @extend .content1;
  text-shadow: 2px 2px white;
  display: flex;
  justify-content: center;
  color: $color3;
  font-size: 28px;
}
