// div margin & padding using flex, set up for different media devices, hover effects, click effects

.spacing1 {
  margin: 15px auto;
  padding: 15px 24px;
}

.spacing2 {
  margin: 24px;
  padding: 15px 39px;
}

.spacing3 {
  margin: 0px;
  padding: 0px;
}
